Agents/Customer Communication Agent/logic_app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_row_(V2)": {
                "type": "ApiConnection",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "sql-1"
                        }
                    },
                    "method": "get",
                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[Master_Customer_Data]'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['customerId']))}"
                },
                "runAfter": {}
            },
            "Switch": {
                "type": "Switch",
                "expression": "@triggerBody()?['stage']",
                "default": {
                    "actions": {}
                },
                "cases": {
                    "Case": {
                        "actions": {
                            "Send_an_email_(V2)": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "outlook-2"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "loandemo3@outlook.com",
                                        "Subject": "Your Home Loan Application Has Been Submitted – Welcome to Global Trust Bank\n\n",
                                        "Body": "<p class=\"editor-paragraph\">Dear @{body('Get_row_(V2)')?['Name']},<br>We’re happy to let you know that your Home Loan application has been successfully submitted to Global Trust Bank.<br><br>To make your journey smoother, we’ve introduced an AI-powered Home Loan Assistant that will guide you through the remaining steps of your application — completely online and at your convenience.<br><br>What’s next? Our AI assistant will ask you upload the necessary documents and complete the verification process.<br><br>You may proceed using your registered contact details:<br><br>Email ID: @{body('Get_row_(V2)')?['Email']}<br><br>Contact No: @{body('Get_row_(V2)')?['Mobile']}<br><br>Please keep an eye out for the next email with the document upload instructions.<br><br>We’re committed to helping you move one step closer to your dream home.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team<br></p><br>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "case": "application"
                    },
                    "Case_2": {
                        "actions": {
                            "Send_an_email_(V2)_1": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "outlook-2"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "loandemo3@outlook.com",
                                        "Subject": "Next Step: Submit Your Documents to Complete Your Home Loan Application",
                                        "Body": "<p class=\"editor-paragraph\">Dear @{body('Get_row_(V2)')?['Name']},<br><br>Thank you for completing the initial step of your Home Loan application with Global Trust Bank. You're now just a step away from moving forward!<br><br>To proceed, we kindly request you to submit the required documents in PDF format through our secure online portal. These documents will help us assess your eligibility and process your application faster.<br><br>📄 Required Documents<br>For Salaried Individuals:<br>Last 3 months’ salary slips<br><br>Last 6 months’ bank statements (salary credited account)<br><br>KYC documents: Aadhaar card, PAN card<br><br>Passport-size photograph<br><br>Latest Form 16</p><br><p class=\"editor-paragraph\">CIBL Score Report<br><br>For Self-Employed Professionals / Business Owners:<br>Business profile / basic details<br><br>Latest Income Tax Returns<br><br>GST Returns (latest)<br><br>Bank statements (personal and business accounts)<br><br>Financial statements: Profit &amp; Loss, Balance Sheet, Schedules<br><br>KYC documents: Aadhaar card, PAN card<br><br>Passport-size photograph<br><br><br>We recommend keeping all files organized and clearly labeled to avoid delays.<br><br>If you have any questions or face difficulty during the upload, our loan support team is ready to assist you at every step.<br><br>We appreciate your prompt attention to this step and look forward to serving you.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "case": "document_submission"
                    },
                    "Case_3": {
                        "actions": {
                            "Send_an_email_(V2)_2": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "outlook-2"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "loandemo3@outlook.com",
                                        "Subject": " Thank You for Submitting Your Documents – Verification in Progress",
                                        "Body": "<p class=\"editor-paragraph\">Dear  @{body('Get_row_(V2)')?['Name']} ,<br><br>Thank you for submitting your documents for your Home Loan application with Global Trust Bank.<br><br>We’ve successfully received all the files and have initiated the verification process. Our team is currently reviewing the documents to ensure everything is in order and meets the required criteria.<br><br>🔍 What Happens Next?<br>Our system will verify the authenticity and completeness of the documents submitted<br><br>If anything additional is required, our AI assistant or support team will reach out to you<br><br>Once verification is completed, you’ll be notified about the approval status and next steps<br><br>We appreciate your prompt response and cooperation throughout this process.<br><br>If you have any questions in the meantime, feel free to continue interacting with the AI assistant or get in touch with our loan support team.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "case": "Verification"
                    },
                    "Case_4": {
                        "actions": {
                            "Condition": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "equals": [
                                                "@triggerBody()?['condition']",
                                                true
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Send_an_email_(V2)_2-copy": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "outlook-2"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "To": "loandemo3@outlook.com",
                                                "Subject": "Your Documents Have Been Successfully Verified",
                                                "Body": "<p class=\"editor-paragraph\">Dear @{body('Get_row_(V2)')?['Name']},<br><br>We’re pleased to inform you that all the documents you submitted for your Home Loan application with Global Trust Bank have been successfully verified.<br><br>Your application is now moving to the next stage in the approval process. Our credit and risk assessment teams will now review your eligibility and finalize the loan offer based on the verified details.</p><br><p class=\"editor-paragraph\">We appreciate your continued cooperation and are excited to help you move closer to your new home.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team<br></p><br>",
                                                "Importance": "Normal"
                                            },
                                            "path": "/v2/Mail"
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Send_an_email_(V2)_2-copy-copy": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "referenceName": "outlook-2"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "loandemo3@outlook.com",
                                                    "Subject": "Action Required – Some of Your Documents Could Not Be Verified",
                                                    "Body": "<p class=\"editor-paragraph\">Dear @{body('Get_row_(V2)')?['Name']},<br><br>Thank you for submitting your documents as part of your Home Loan application with Global Trust Bank.<br><br>During our verification process, we found that some documents could not be verified due to one or more of the following reasons:<br><br>Blurry or unclear scans<br><br>Missing or incomplete pages<br><br>Incorrect document type or mismatch in details<br><br>Expired or invalid files<br><br>To proceed further, we request you to re-upload the document(s).</p><p class=\"editor-paragraph\">Kindly ensure the documents are:<br>✅ In PDF format<br>✅ Clear and legible<br>✅ Matching the details submitted in the application<br><br>If you need help identifying the issue or have any questions, our AI assistant and support team are here to assist you.<br><br>We appreciate your cooperation and look forward to receiving the correct documents soon.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team</p>",
                                                    "Importance": "Normal"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                }
                            }
                        },
                        "case": "document approval"
                    },
                    "Case_5": {
                        "actions": {
                            "Send_an_email_(V2)_2-copy-copy-copy": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "outlook-2"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "loandemo3@outlook.com",
                                        "Subject": "Great News – Your Home Loan is Confirmed!",
                                        "Body": "<p class=\"editor-paragraph\">Dear @{body('Get_row_(V2)')?['Name']},<br><br>We’re delighted to inform you that your Home Loan application with Global Trust Bank has been successfully confirmed after a thorough review of your documents and eligibility.<br><br>Your loan is now moving to the final processing stages, and we will soon share your sanction details, EMI schedule, and disbursement information.<br><br>This is a major milestone — you’re just a few steps away from owning your dream home!<br><br>📝 What’s Next:<br>We will send you a detailed sanction letter<br><br>You'll receive your loan offer summary, including approved amount, tenure, and interest rate<br><br>You’ll be guided to sign the loan agreement<br><br>Post-signing, your loan will be disbursed as per the agreed schedule<br><br>For any questions in the meantime, feel free to connect with our AI assistant or reach out to our Home Loan Support Team.<br><br>We truly appreciate your trust in us.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "case": "approval"
                    },
                    "Case_6": {
                        "actions": {
                            "Execute_a_SQL_query_(V2)": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "sql-1"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "query": "SELECT Loan_Amount, EMI,Interest_Rate,\t\nTenure_Months FROM [dbo].[Loan_Info] WHERE Customer_ID = '@{body('Get_row_(V2)')['Customer_ID']}';"
                                    },
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/query/sql"
                                }
                            },
                            "Parse_JSON": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Execute_a_SQL_query_(V2)')",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "ResultSets": {
                                                "type": "object",
                                                "properties": {
                                                    "Table1": {
                                                        "type": "array",
                                                        "items": {
                                                            "type": "object",
                                                            "properties": {
                                                                "Loan_Amount": {
                                                                    "type": "number"
                                                                },
                                                                "EMI": {
                                                                    "type": "number"
                                                                },
                                                                "Interest_Rate": {
                                                                    "type": "number"
                                                                },
                                                                "Tenure_Months": {
                                                                    "type": "integer"
                                                                }
                                                            },
                                                            "required": [
                                                                "Loan_Amount",
                                                                "EMI",
                                                                "Interest_Rate",
                                                                "Tenure_Months"
                                                            ]
                                                        }
                                                    }
                                                },
                                                "required": [
                                                    "Table1"
                                                ]
                                            },
                                            "OutputParameters": {
                                                "type": "object"
                                            }
                                        },
                                        "required": [
                                            "ResultSets",
                                            "OutputParameters"
                                        ]
                                    }
                                },
                                "runAfter": {
                                    "Execute_a_SQL_query_(V2)": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "For_each": {
                                "type": "foreach",
                                "foreach": "@outputs('Parse_JSON')['body']['ResultSets']['Table1']",
                                "actions": {
                                    "Send_an_email_(V2)_2-copy-copy-copy-copy-copy": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "outlook-2"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "To": "loandemo3@outlook.com",
                                                "Subject": "Your Home Loan Has Been Sanctioned – EMI Details Inside",
                                                "Body": "<p class=\"editor-paragraph\">Dear @{body('Get_row_(V2)')?['Name']},<br><br>Congratulations! Your Home Loan with Global Trust Bank has now been sanctioned.<br><br>Below are the key details of your approved loan:<br><br>📋 Loan Sanction Summary<br>Sanctioned Amount: @{items('For_each')['Loan_Amount']}<br><br>Tenure: @{item()['Tenure_Months']}<br><br>Interest Rate: @{item()['Interest_Rate']}<br><br>Type: Home Purchase Loan<br><br>💳 EMI Details<br>Monthly EMI: @{item()['EMI']}<br><br>First EMI Date: 5th July 2025<br><br><br><br><br>If you have any queries, our AI assistant or support team will be happy to assist.<br><br>Once again, thank you for choosing Global Trust Bank.<br><br>Warm regards,<br>Global Trust Bank – Home Loans Team</p>",
                                                "Importance": "Normal"
                                            },
                                            "path": "/v2/Mail"
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Parse_JSON": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "case": "letter"
                    }
                },
                "runAfter": {
                    "Get_row_(V2)": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_HTTP_request_is_received": {
                "type": "Request",
                "kind": "Http",
                "inputs": {
                    "method": "POST",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "customer_id": {
                                "type": "string"
                            },
                            "stage": {
                                "type": "string"
                            },
                            "condition": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        }
    },
    "kind": "Stateful"
}