Logic apps/all-options.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_chat_completions": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "deploymentId": "gpt-4o-mini",
                        "messages": [
                            {
                                "role": "system",
                                "content": "You are a loan processing assistant. Always respond in JSON format only."
                            },
                            {
                                "role": "user",
                                "content": "Extract the customer's intent from the following email:\\n\\n@{triggerOutputs()?['body']?['Body']}\\n\\nReturn only valid JSON with the following fields: intent, loan_number, urgency, requested_change, action, document_requested. Do not include any explanations or extra text."
                            }
                        ],
                        "temperature": 1
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "openai-2",
                        "operationId": "getChatCompletions",
                        "serviceProviderId": "/serviceProviders/openai"
                    }
                },
                "runAfter": {}
            },
            "Switch": {
                "type": "Switch",
                "expression": "@body('Parse_JSON')?['intent']",
                "default": {
                    "actions": {}
                },
                "cases": {
                    "Case": {
                        "actions": {
                            "Get_row_(V2)": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "sql"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[bank_customers]'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['loan_number']))}"
                                }
                            },
                            "Condition": {
                                "type": "If",
                                "expression": {
                                    "and": [
                                        {
                                            "greater": [
                                                "credit score ",
                                                750
                                            ]
                                        }
                                    ]
                                },
                                "actions": {
                                    "Send_an_email_(V2)_1": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "outlook-2"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "To": "@triggerBody()?['From']",
                                                "Subject": "Reduced the intreset rate",
                                                "Body": "<p class=\"editor-paragraph\">done</p>",
                                                "Importance": "Normal"
                                            },
                                            "path": "/v2/Mail"
                                        }
                                    }
                                },
                                "else": {
                                    "actions": {
                                        "Send_an_email_(V2)_2": {
                                            "type": "ApiConnection",
                                            "inputs": {
                                                "host": {
                                                    "connection": {
                                                        "referenceName": "outlook-2"
                                                    }
                                                },
                                                "method": "post",
                                                "body": {
                                                    "To": "@triggerBody()?['From']",
                                                    "Subject": "not approved",
                                                    "Body": "<p class=\"editor-paragraph\">no</p>",
                                                    "Importance": "Normal"
                                                },
                                                "path": "/v2/Mail"
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_row_(V2)": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "case": "request_interest_reduction"
                    },
                    "Case 2": {
                        "actions": {},
                        "case": "request_NOC"
                    },
                    "Case 3": {
                        "actions": {},
                        "case": "request_document"
                    },
                    "Case 4": {
                        "actions": {
                            "Get_row_(V2)_1": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "sql"
                                        }
                                    },
                                    "method": "get",
                                    "path": "/v2/datasets/@{encodeURIComponent(encodeURIComponent('default'))},@{encodeURIComponent(encodeURIComponent('default'))}/tables/@{encodeURIComponent(encodeURIComponent('[dbo].[bank_customers]'))}/items/@{encodeURIComponent(encodeURIComponent(body('Parse_JSON')?['loan_number']))}"
                                }
                            },
                            "Parse_JSON_1": {
                                "type": "ParseJson",
                                "inputs": {
                                    "content": "@body('Get_row_(V2)_1')['customer_id']",
                                    "schema": {
                                        "type": "object",
                                        "properties": {
                                            "intent": {
                                                "type": "string"
                                            },
                                            "loan_number": {
                                                "type": "string"
                                            },
                                            "urgency": {
                                                "type": "string"
                                            },
                                            "requested_change": {
                                                "type": "string"
                                            },
                                            "action": {
                                                "type": "string"
                                            },
                                            "document_requested": {
                                                "type": "string"
                                            }
                                        }
                                    }
                                },
                                "runAfter": {
                                    "Get_row_(V2)_1": [
                                        "SUCCEEDED"
                                    ]
                                }
                            },
                            "Send_an_email_(V2)_3": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "outlook-2"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@triggerBody()?['From']",
                                        "Subject": "your details",
                                        "Body": "<p class=\"editor-paragraph\">@{body('Parse_JSON_1')?['intent']}</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                },
                                "runAfter": {
                                    "Parse_JSON_1": [
                                        "SUCCEEDED"
                                    ]
                                }
                            }
                        },
                        "case": "loan_status_query"
                    },
                    "Case 5": {
                        "actions": {
                            "Send_an_email_(V2)": {
                                "type": "ApiConnection",
                                "inputs": {
                                    "host": {
                                        "connection": {
                                            "referenceName": "outlook-2"
                                        }
                                    },
                                    "method": "post",
                                    "body": {
                                        "To": "@triggerBody()?['From']",
                                        "Subject": "Complaint Received – Your Request is Being Processed",
                                        "Body": "<p class=\"editor-paragraph\">Dear Customer,<br><br>We’ve received your complaint and it has been forwarded to our support team.<br>We’ll get back to you as soon as possible.<br><br>Thank you for your patience.<br><br>Best regards,<br>Loan Support Team</p>",
                                        "Importance": "Normal"
                                    },
                                    "path": "/v2/Mail"
                                }
                            }
                        },
                        "case": "complaint"
                    }
                },
                "runAfter": {
                    "Parse_JSON": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Parse_JSON": {
                "type": "ParseJson",
                "inputs": {
                    "content": "@body('Get_chat_completions')?['choices'][0]?['message']?['content']",
                    "schema": {
                        "type": "object",
                        "properties": {
                            "intent": {
                                "type": "string"
                            },
                            "loan_number": {
                                "type": "string"
                            },
                            "urgency": {
                                "type": "string"
                            },
                            "requested_change": {
                                "type": "string"
                            },
                            "action": {
                                "type": "string"
                            },
                            "document_requested": {
                                "type": "string"
                            }
                        }
                    }
                },
                "runAfter": {
                    "Get_chat_completions": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_new_email_arrives_(V2)": {
                "type": "ApiConnectionNotification",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "outlook-2"
                        }
                    },
                    "fetch": {
                        "pathTemplate": {
                            "template": "/v2/Mail/OnNewEmail"
                        },
                        "method": "get",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "includeAttachments": false,
                            "folderPath": "Inbox"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@listCallbackUrl()"
                        },
                        "pathTemplate": {
                            "template": "/MailSubscriptionPoke/$subscriptions"
                        },
                        "method": "post",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']"
            }
        }
    },
    "kind": "Stateful"
}
