Logic apps/rate-of-intreset.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Get_chat_completions": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "deploymentId": "gpt-4o-mini",
                        "messages": [
                            {
                                "role": "System",
                                "content": "You are a financial assistant that determines if a loan interest rate request meets automatic approval conditions."
                            },
                            {
                                "role": "User",
                                "content": "Analyze this email and respond with ONLY 'APPROVE' if the interest rate reduction requested is exactly or less than 2%. Otherwise, respond ONLY with 'ESCALATE'. Email content: @{triggerOutputs()?['body']?['BodyPreview']}"
                            }
                        ],
                        "temperature": 1
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "openai-2",
                        "operationId": "getChatCompletions",
                        "serviceProviderId": "/serviceProviders/openai"
                    }
                },
                "runAfter": {}
            },
            "Condition": {
                "type": "If",
                "expression": {
                    "and": [
                        {
                            "equals": [
                                "Approve",
                                "Approve"
                            ]
                        }
                    ]
                },
                "actions": {
                    "Send_an_email_(V2)": {
                        "type": "ApiConnection",
                        "inputs": {
                            "host": {
                                "connection": {
                                    "referenceName": "outlook-1"
                                }
                            },
                            "method": "post",
                            "body": {
                                "To": "@triggerBody()?['From']",
                                "Subject": "@triggerBody()?['Subject']",
                                "Body": "<p class=\"editor-paragraph\">Dear sir/madam,<br>We are pleased to inform you that your request for a reduction in the interest rate on your loan account has been approved.<br><br>Thank you for banking with us.<br><br>Best regards,<br>bank manager</p>",
                                "Importance": "Normal"
                            },
                            "path": "/v2/Mail"
                        }
                    }
                },
                "else": {
                    "actions": {
                        "Send_email_with_options": {
                            "type": "ApiConnectionWebhook",
                            "inputs": {
                                "host": {
                                    "connection": {
                                        "referenceName": "outlook-1"
                                    }
                                },
                                "body": {
                                    "NotificationUrl": "@listCallbackUrl()",
                                    "Message": {
                                        "To": "loandemo1@outlook.com",
                                        "Importance": "Normal",
                                        "HideHTMLMessage": false,
                                        "ShowHTMLConfirmationDialog": false,
                                        "Subject": "Your input is required",
                                        "Options": "Approve,Decline"
                                    }
                                },
                                "path": "/mailwithoptions/$subscriptions"
                            }
                        },
                        "Condition_1": {
                            "type": "If",
                            "expression": {
                                "and": [
                                    {
                                        "equals": [
                                            "Approve",
                                            "Approve"
                                        ]
                                    }
                                ]
                            },
                            "actions": {
                                "Send_an_email_(V2)_1": {
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "host": {
                                            "connection": {
                                                "referenceName": "outlook-1"
                                            }
                                        },
                                        "method": "post",
                                        "body": {
                                            "To": "@triggerBody()?['From']",
                                            "Subject": "@triggerBody()?['Subject']",
                                            "Body": "<p class=\"editor-paragraph\">Dear sir/madam,<br>We are pleased to inform you that your request for a reduction in the interest rate on your loan account has been approved. <br><br>Thank you for banking with us.<br><br>Best regards,</p><p class=\"editor-paragraph\">bank manager</p>",
                                            "Importance": "Normal"
                                        },
                                        "path": "/v2/Mail"
                                    }
                                }
                            },
                            "else": {
                                "actions": {
                                    "Send_an_email_(V2)_2": {
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "host": {
                                                "connection": {
                                                    "referenceName": "outlook-1"
                                                }
                                            },
                                            "method": "post",
                                            "body": {
                                                "To": "@triggerBody()?['From']",
                                                "Subject": "@triggerBody()?['Subject']",
                                                "Body": "<p class=\"editor-paragraph\">Dear Sir/Ma'am,<br>Thank you for your request regarding a reduction in the interest rate on your loan account. After careful review, we regret to inform you that we are unable to approve the request at this time.<br><br>We appreciate your understanding and continued association with us.<br><br>Best regards,<br>Manager</p>",
                                                "Importance": "Normal"
                                            },
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            },
                            "runAfter": {
                                "Send_email_with_options": [
                                    "SUCCEEDED"
                                ]
                            }
                        }
                    }
                },
                "runAfter": {
                    "Get_chat_completions": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_new_email_arrives_(V2)": {
                "type": "ApiConnectionNotification",
                "inputs": {
                    "host": {
                        "connection": {
                            "referenceName": "outlook-1"
                        }
                    },
                    "fetch": {
                        "pathTemplate": {
                            "template": "/v2/Mail/OnNewEmail"
                        },
                        "method": "get",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "includeAttachments": false,
                            "folderPath": "Inbox"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@listCallbackUrl()"
                        },
                        "pathTemplate": {
                            "template": "/MailSubscriptionPoke/$subscriptions"
                        },
                        "method": "post",
                        "queries": {
                            "importance": "Any",
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']"
            }
        }
    },
    "kind": "Stateful"
}
